<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Epic Button Game</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var socket = io.connect();
			$('#button').click(function(){
				socket.emit('button_click')
				})
			socket.on('count', function(count){
				console.log(count);
				$('span').html(count);
			});
			$('#reset').click(function(){
				socket.emit('reset');
			})
		})
	</script>
  </head>
<body>
	<div class="wrapper">
		<h3>The button has been pushed <span>0</span> time(s)</h3>
		<h5>Push the button to update the count!</h5>
		<button id="button" type="button">Push the epic button</button>
		<br>
		<button id="reset" type="button">Reset count</button>
	</div>
</body>
</html>
